# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
.Python

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Node / frontend
frontend/Django-with-RTS/node_modules/
frontend/Django-with-RTS/dist/
frontend/Django-with-RTS/.vite/
frontend/Django-with-RTS/build/
frontend/Django-with-RTS/.idea/
frontend/Django-with-RTS/.env

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db
